* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header {
  background-image: url("../images/cine-vacio-sillas.jpg");
  background-position: center;
  background-size: cover;
  height: 23vh;
  display: flex;
  align-items: center;
  &__title {
    font-family: sans-serif;
    font-size: 30px;
    background-color: white;
    margin-left: 30px;
    opacity: 0.85;
  }
}

.main {
  background-color: #bb8383;
  display: flex;
  font-family: sans-serif;
  padding: 30px 0 0 30px;
  &__section1 {
    width: 25vw;
    &--input {
      background-color: #bb9696;
      height: 30px;
      font-size: 15px;
      padding-left: 5px;
      border-style: none;
      border-bottom: 2px solid #8a3838;
    }
    &--search {
      height: 30px;
      width: 70px;
      font-size: 15px;
      border-style: none;
      margin-left: 5px;
      &:hover {
        background-color: rgb(138, 56, 56);

        color: white;
        text-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
      }
    }
    &--favorite {
      margin-top: 20px;
      font-size: 24px;
    }
    &favorite-list {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__section2 {
    width: 75vw;
    margin-left: 30px;
    &--list {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.shows-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px 20px 10px;
  width: 220px;
  padding-bottom: 5px;
  &__title {
    margin-bottom: 5px;
    font-size: 18px;
    height: 57px;
    text-align: center;
  }
  &__container {
    height: 295px;
    width: 210px;
  }
}
.show__item--favorite {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(138, 56, 56);
}

.favorite-list {
  display: flex;
  align-items: center;
  margin-top: 10px;
  width: 220px;
  padding-bottom: 5px;
  &__container {
    &--img {
      height: 147.5px;
      width: 105px;
    }
  }
  &__title {
    font-size: 12px;
    margin-left: 15px;
  }
  &__icon {
    margin-left: 10px;
    color: #8a3838;
    font-size: 14px;
  }
}
.reset {
  height: 30px;
  width: 70px;
  font-size: 15px;
  border-style: none;
  &:hover {
    background-color: rgb(138, 56, 56);
    border-style: none;
    color: white;
    text-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
  }
  &:active {
  }
}
